useDynLib("loe", .registration = TRUE)
importFrom("MASS", "mvrnorm")
importFrom("stats", "dist", "optim")
export("LOE")
export("SOE")
export("make.kNNG")
export("make.distmat")
export("spec.emb")
export("GARI")
export("get.order")